*, *::after, *::before {
  box-sizing: border-box;
}

.App {
  text-align: center;
  justify-content: center;
  background-color:#272822 ;
  font-family: Roboto;
  min-width: 320px;
}

#main-container {
  /* display: flex; */

}
h1 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.2;
}

h3 {
  font-size: 24px;
}

p{
  font-family: Roboto;
}